html, body{
  height: 100%;
  font-family: 'Oxygen';
}
a, a:link, a:visited, a:focus, a:hover, a:active{
  text-decoration:none;
}
#root, .App{
  display: flex;
  flex-direction: column;
  min-height: 100%;
  flex: 1;
}
.darkapp{
  background: "#212121"
}
.ether-sign{
  font-family: Helvetica !important;
}
